@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{  
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family:DM Sans;}

header{
    
    
   font-size: 16px;
    background-color: #ffffff;
    
  
    max-height: 100px;
    
    position: sticky;
    top: 0;
    right: 0;


    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
    
    

}
.login{

    padding: 15px;
    border-radius: 10px;
    border: 2px solid black;
    font-weight:bolder;
}

.img-header{
    
    width:70px;
    height: 70px;
}

.img-hoster{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight:bolder;
   
    
}


.nav-1{
    
    gap:30px;
    width: 600px;
    display: flex; flex-direction: row; justify-content: start
    ;
  
}

.nav-2{
    display: flex;flex-direction: row; justify-content: end; gap: 30px;align-items: center;
}

.section-main{

padding: 50px 1px 100px 100px;


  display: flex;
  flex-direction: row;
}

.container-main{
    width: 400px;
    height: 400px;
  
    padding: 50px;
    color: #2f1c6a;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.title-main{
    font-size: 35px;
}

.img-main{
    width: 600px; height:400px;
} 

.conte-bottom{
    display: flex; flex-direction: row;gap: 10px;
}



.section_card{
   padding: 50px 0px 100px 0px;
   
   
   
    background-color:#1f1346;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px ;
    
    
    font-size: 17px;
    color: #d5dfff;
    
}
.parrafo1{
    margin: 0px 50px 0 70px; text-align: center;

}
.container_card{
    width: 1290px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    gap: 10px;
    padding: 20px 40px;
    
}

.card_opcion{
    
    width: 350px;
    height: 250px;
    gap: 8px;
    border-radius: 20px;
    padding: 0px 20px 0px 25px;
    
    background-color: #2f1c6a;
    
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: justify;

}
.titulo{
    font-size: 50px;
    padding: 20px 50px;
    
}

.bottom{
    width: 200px;
    height: 55px;
    background-color: #7253ee;
    border-radius: 16px;
 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bottom-2{
    width: 200px;
    height: 55px;
    background-color:#c5b8f8;
    border-radius: 16px;
 
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom:hover{
    background-color: #673de6;;
}




.img-footer{
    width: 250px;
    height: 80px;
}

.section-footer{
    width: 1290px;
    
    padding: 30px 10px 30px 30px;
    
    display: flex; flex-direction: row; justify-content: space-between;
    color: #2f1c6a;
    font-size: 14px;
    

}


.container.logcard{
    width: 100px;
    display: flex;flex-direction: row;
    
}

.log-card{width: 60px; height: 36px;
    border:1px solid black;
    border-radius: 9px;

}

.footer-supp{
    width: 400px;
    display: flex;
    flex-direction: row;
    
    
    
    gap: 20px;
    color:#2f1c6a;
     font-size: 14px;
     
}

.container-footerboot{
    width: 1290px;
    height: 30px;
    padding: 30px 10px 30px 30px;
    display: flex; flex-direction: row; justify-content: space-between;
    color: #2f1c6a;
    font-size: 14px;
    border-top: 1px solid #7253ee;
}


  @media screen and (max-width: 1100px){
    .nav-1{display: none;}
    .nav-2{display: none;}
    .header{
    display: flex;
    flex-direction:row;
    justify-content: start
    

  }


 @media screen and (max-width: 1100px){
    .section-main{ display: flex; flex-direction: column;}
    }

 }
        
        
    

    @media screen and (max-width: 1100px){
        
        .section_card{
            height: max-content;
            display: flex; flex-direction: column; align-items: center;
        }
        .container_card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

    }


     @media screen and (max-width: 1100px){
        .card_opcion
        {width: 700px;
        height: 200px;
        gap: 10px;

        }
     }

    
        
    